<html>
    <head>
        <title>Stereo Bear</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Stereo Bear</a></h1>
        </div>

        <div>
            <p>published: 18.07.2023, 16:07</p>
            <h2><a href="">eeeee rock</a></h2>
            <p>Top 5 scariest jumpscares. Numero Uno</p>
        </div>

        <div>
            <p>published: 09.07.1924, 18:47</p>
            <h2><a href="">WOW</a></h2>
            <p>damn, i'm tired of this shit</p>
        </div>
    </body>
</html>